[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
uvicorn = "*"

[packages]
fastapi = "*"
email-validator = "*"
python-multipart = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"],version = "*"}

[requires]
python_version = "3.7"
